body{
	a:hover{};
	text-decoration:none;
	list-style-type:none;
}
/*


/*firefox için  scroll bar duzenleme kodu*/

:root {
    scrollbar-color: rgb(247, 18, 18) rgb(243, 140, 4, 0) !important;
    scrollbar-width: thin !important;
}

/*firefox için  scroll bar duzenleme kodu*/

/*chrome için scrollbar duzenleme kodu.*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(224, 109, 109); */
    border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(0, 110, 255);
    border-radius: 1px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004eb3;
}





.headerKapsayici{
	position: relative;
	width: 100%;
	min-height: 300px;
	padding-bottom: 50px;
	overflow: hidden;
	z-index: -1;
}
.header{
	background-color: gray;
	position: absolute;
	width: 100%;
	max-height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header img{
	/*background-color: gray;*/
	position: absolute;
	width: 100%;
	min-height: 50%;


}
.slogan{
	/*background-color: lightblue;*/
	width: 100%;
	display: inline-block;
	position: absolute;
	top:100px;
	color: white;
	font-weight: 900;
	/*line-height: 30px;*/
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}
.slogan2 h6{
	position: absolute;
	top:150px;
	left: 0;
	/*background-color: lightblue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 20;
	color:white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/*line-height: 30px;*/
	font-size: 26px;
}
.menu{
	/*background-color: pink;*/
	position: absolute;
	left:60px;
	top:60px;
	width: 60px;
	height: 60px;
	z-index: 1;
	background-color: white;
	background-color: opacity;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .2;
	transition: .4s;
	cursor: pointer;
}
.menu:hover {
	/*background-color: pink;*/
	position: absolute;
	left:60px;
	top:60px;
	width: 60px;
	height: 60px;
	z-index: 1;
	background-color: white;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .6;
	transition: .4s;
	cursor: pointer;
}
.menu a{
	left:60px;
	top:60px;
	width: 60px;	


}
.menu > img{
	width: 30px;
	cursor: pointer;
}
.navigation{
	position: fixed;
	overflow: hidden;
	top:0;
	left: 0;
	background-color: black;
	opacity: .95;
	min-width:100%;
	min-height:100%;
	display: none;
	z-index: 2;
}
.navigation > ul{
	display: block;
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	top:100px;
	left:0;
	font-family: 'Lato', sans-serif;

}
.navigation > ul > li{

	list-style-type: none;
	text-decoration: none;
	float: left;
	color:white;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
	padding:10px;
}
.navigation > ul > li a{

	list-style-type: none;
	text-decoration: none;
	float: left;
	color:white;
	font-weight: 300;
	padding:10px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	transition: .2s;
}
.navigation > ul > li a:hover{

	list-style-type: none;
	text-decoration: none;
	float: left;
	color:white;
	font-weight: 300;
	padding:10px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	opacity: .9;
	color:lightblue;
	border-bottom: 2px solid lightblue;
	transition: .2s;
}
/*-----HEADER------*/

/*--------------------------------------*/
.content_galeri{

	width: 1050px;
	
	columns: 4;
	column-gap: 20px;
	margin:20px auto;

}
.content{
	
	width: 1050px;
	columns: 3;
	column-gap: 20px;
	margin:auto;
	padding-top: 20px;
	overflow: hidden;
	/*vertical-align: middle;*/
	

}
.bloglar{
/*	border:2px solid red;*/
	width: 100%;
	max-height: 100%;
	/*margin-bottom:20px;*/
	background-color: #FFFFFF;
	overflow: hidden;
	break-inside: avoid;
	border-radius: 5px;

}

.blogFoto img{
	width: 600px;
	min-height: 100%;
	border: none;
	/*vertical-align: middle;*/
	/*object-fit: cover;*/

}



.userblogFoto{
	display: flex;
	justify-content: center;
}
.userblogFoto img{
	width: 100px;
	border-radius: 100px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	border:3px solid white;
	z-index: 1;
}
.bloglar span{
	display: block;
	display: flex;
	justify-content: center;
	margin:10px;
	font-weight: 400;
	color:#393838;
	font-size: 14px;
}
.bloglar h3{ 
	display: block;
	margin:20px;
	font-weight: 400;
	margin-left: 25px;
	color:black;
	font-size: 17px;
}
.bloglar p{
	display: block;
	text-align: justify;
	margin:10px;
	font-weight: 100;
	font-style:normal;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color:gray;
}
.bloglar .blogFoto img:hover{
/*	font-weight: 300;*/

	text-decoration: none;
	list-style: none;
	opacity: .5;
	border-radius: 6px;
	transition: .3s;
	/*padding:5px;*/

}

/*------deepfooter------------*/

.deepfooter{
	flex-direction: column;
	/*padding-top: 50px;*/
	grid-column-gap: 20%;
	justify-content: center;
	background-color: #222222;
/*	width: 100%;*/
	height:100px;
	/*justify-content: space-around;*/
	font-weight: 100;
	line-height: 20px;
	padding-top: 10px;

}
.footerBilgiler{
	display: flex;
	/*padding-top: 50px;*/
	grid-column-gap: 0;
	justify-content: center;
	background-color: #222222;
/*	width: 100%;*/
	height:100px;
	/*justify-content: space-around;*/
	font-weight: 100;
	line-height: 20px;
}
.emailAdd{
	display: inline-block;
	/*background-color: lightblue;*/
	padding-top:10px;
	margin: 10px;
	color:#7D7D7D;
	font-size: 13px;
	color:#939393;
	letter-spacing: 3px;
	margin-left: -35px;
	width: 35%;
	text-align: center;
}
.gsm{
	margin: 10px;
	display: block;
	color:#939393;
	font-size: 12px;
	padding: 10px;
	/*background-color: lightblue;*/
	letter-spacing: 3px;
	width: 35%;
	text-align: center;
}
.rigthFooter{
	display: inline-block;
	/*background-color: lightblue;*/
	padding: 10px;
	margin: 10px;
	color:#939393;
	font-size: 12px;
	letter-spacing: 3px;
	width: 35%;
	text-align: center;
}

.jq_menu{

	/*background-color: #4CD1EE;*/
	width: 100%;
	

}
.jq_menu img{
	display: inline;
	display: flex;
	align-items: center;
	width: 50px;
	margin:auto;
	opacity: .5;


}
#footerMenu{

}
.copyrigth{
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding:20px 0px;
	display: block;
	color:#939393;
	background-color: #222222;
	/*border-top:1px solid #2C2C2C;*/
	border-bottom:1px solid black;
	letter-spacing: 2px;
}



/*----  EMAIL EKLE -----*/

.Ekle{
	padding-left: 100px;
	/*background-color: red;*/
	font-size: 13px;
}
.rigthFooter span{
	/*background-color: red;*/
	
}
.Ekle input{
	padding:6px;
	outline: none;
	color:#9d9d9d;
	font-size: 14px;
	border: none;
	font-weight: 700;
	border-radius: 2px;
	background-color: #3D3D3D;
}
.Ekle button{
	width: 60px;
	padding: 6px;
	background-color: black;
	outline: none;
	color:#3d3d3d;
	font-size: 14px;
	border:none;
	border-radius: 2px;
	cursor:pointer;
	transition: .2s
}

.Ekle button:hover{
	width: 60px;
	padding: 6px;
	background-color: black;
	outline: none;
	color:#EEE;
	font-size: 14px;
	border:none;
	border-radius: 2px;
	cursor:pointer;
	transition: .2s
}

.dahaCokBlogBtn{
	text-align: center;
	padding:40px 0px;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
	/*background-color: blue;*/
}
.dahaCokBlogBtn button{
	text-align: center;
	padding:10px 30px 10px 30px;
	border:1px solid #C3C3C3;
	border-radius: 4px;
}
.dahaCokBlogBtn button:hover{
	text-align: center;
	padding:10px 30px 10px 30px;
	border:1px solid #C3C3C3;
	background-color: #E3E2E2;
	transition: .1s;
	cursor:pointer;
	outline: none;
}
.headeLogo{
	position: absolute;
	top:50px;
	right:50px;
	width: 60px;
	z-index: 1;
	opacity: .5;
	transition: .4s;
}
.headeLogo:hover{
	position: absolute;
	top:50px;
	right:50px;
	width: 60px;
	z-index: 1;
	opacity: 1;
	transition: 1s;
}
.headeLogo img{
	border-radius: 100px;
	width: 60px;
}

.contact{
	width: 80%;
	overflow: hidden;
	overflow-x: hidden;
	/*background-color: lightblue;*/

	border:1px solid #E3E3E3;

	border-radius: 5px;
	padding:40px;
	margin:auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.contact table input{
	width: 850px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid #E3E3E3;
	outline: none;
	transition: .4s;
}
.contact table input:hover{
	width: 850px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid black;
	outline: none;
	transition: .4s;
}
.contact table textarea{
	width: 850px;
	height: 150px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid #E3E3E3;
	outline: none;
	transition: .4s;

}
.contact table textarea:hover{
	width: 850px;
	height: 150px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid black;
	transition: .4s;
	outline: none;
}
.contact table button{
	width: 850px;
	height: 50px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid #E3E3E3;
	outline: none;
	transition: .4s;
}
.contact table button:hover{
	width: 850px;
	height: 50px;
	padding:5px;
	border-radius: 5px;
	background-color: #E9E9E9;
	float: left;
	border:1px solid black;
	outline: none;
	transition: .4s;
}
.galeri{
	max-width: 1150px;
	columns: 4;
	column-gap: 10px;
	overflow: hidden;
	margin:10px auto;
}
#galeriFoto{
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;	
	/*margin:5px;*/
	padding:5px;
	/*margin:5px auto;*/
	/*display: hidden;*/
}

#galeriFoto img{

/*	max-height: 80%;
	min-width: 80%;*/
	width: 250px;
	opacity: .9;
	transition: .3s;

}
#galeriFoto img:hover{
	width: 250px;
/*	max-height: 80%;
	min-width: 80%;*/
	opacity: .4;
	transition: .3s;

}
.span{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-height: 200px;
	top:50px;
	left:20px;
	display:none;
	cursor:pointer;
	background-color: darkgray;

}
.fullGaleri{
	background-color: black;
	position: fixed;
	display: none;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	margin:auto;

	opacity: 1;
	z-index: 200;

}
.galeriortala{
	position: relative;
	top:80px;
	display: flex;
	text-align: center;
	justify-content: center;
	z-index: 300;

}
.galeriortala img{
	height: 500px;
	z-index: 4;
	border-radius: 5px;
	border:6px solid white;

}
.hr_width{
	width:70%;
	margin:auto;
	/*border:1px solid black;*/
	

}
.hr_width_gray_footer{
	width: 60%;
	height: 0px;
	background-color:#3F3F3F;
}
.detayContent{
	width: 1150px;
	height: 100%;
	padding: 20px;
	margin:auto;
}
.blogTarih{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.blogBaslik{
	width: 100%;
	padding:15px 0px 15px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 24px;
}
.blogIcerik{
	width: 100%;
	padding: 40px 20px 40px 160px;
/*	display: flex;
	align-items: center;
	justify-content: center;*/
	/*text-align: justify;*/
	font-size: 16px;
	line-height:28px;
	font-weight: 100;
	font-family: 'Poppins', sans-serif;
}
.blogIcerikgorsel{
	/*background-color: lightblue;*/
	display: flex;
	width: 100%;
	padding-left: 161px;
	/*justify-content: center;*/ /*---SAGA SOLA ORTALAR ---*/

}
.blogIcerikgorsel img{
	width: 800px;
	background-color: lightblue;
	display: flex;
	align-items: center;
	border-radius: 6px;
	border:2px solid #FFFFFF;

}

/*---blog detay sayfasında kullanılıyor*/
.begeni{
	width: 100%;
	height: 50px;
	/*background-color: #FAB2BF;*/
	padding-left: 160px;
	/*text-align: center;*/
}
.begeni span{
	/*margin:auto;*/
	padding: 6px;
	border-radius: 2px;
	color:black;
	margin-bottom: 30px;
}
.aktifButon{
	background-color: #CE5493;
	margin:auto;
	padding: 6px;
	border-radius: 2px;
	color:white;
	margin-bottom: 30px;
	font-size: 13px;
}
.pasitButon{
	background-color: #E19FC1;
	margin:auto;
	padding: 3px;
	border-radius: 3px;
	color:black;
	margin-bottom: 30px;
	font-size: 13px;
}
.begeni span a{
	text-decoration: none;
	color:white;
}



.blogYorum{
	width: 600px;
	margin:100px 10px 40px 40px;

	padding:20px;
	/*background-color: #E9E9E9;*/
	border-left:3px solid #E3E3E3;
}
.user_foto_home_page{
	position: absolute;
	left:45%;
	top:445px;
}
.user_foto_home_page img{
	width: 120px;
	border:4px solid white;
	border-radius: 100px;
	margin-top: -320px;

}
.user_foto{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 70px;
	/*background-color: red;*/

}
.user_foto img{
	width: 120px;
	border:4px solid white;
	border-radius: 100px;
		margin-top: -220px;
			/*background-color: red;*/
}
.yorumForm{
	width: 900px;
	margin-top: 100px;
}
.yorumForm table textarea{
	background-color: #F6F8F9;
	width: 900px;
	height: 110px;
	padding: 5px;
	border-radius: 3px;
	font-weight: 500;
	color:gray;
	outline: none;
	border:1px solid #BDBDBD;
	border-radius: 4px;
}
.yorumForm table button{
	background-color: #EBEDEE;
	width: 900px;
	padding: 5px;
	border-radius: 3px;
	font-weight: 500;
	color:gray;
	outline: none;
	border:none;
}
.yorumForm table input{
	background-color: #F6F8F9;
	width: 900px;
	padding: 5px;
	border-radius: 3px;
	font-weight: 500;
	color:gray;
	outline: none;
	border:none;
}
.yorum_i{
	color:#6E6E6E;
	font-weight: 100;
	font-size: 13px;
	margin-left: 50px;
}
.user_icon img{
	width: 50px;
	border-radius: 100px;
	border:3px solid white;
}
#tab{
	display: none;
	border-radius: 4px;
}
#click{
	display:block;
	background-color: lightblue;
	width: 900px;
	margin:auto;

}
.error{
	display: block;
	width: 100%;
	/*background-color: #D48884;*/
	color:#E97F7F;
	padding:10px 30px;
	border-radius: 1px;
	/*display: hidden;*/
	font-size: 20px;
}
.error_yorum{
	display: block;
	width: 100%;
	background-color: #D48884;
	color:white;
	padding:10px 30px;
	border-radius: 1px;
	/*display: hidden;*/
	font-size: 20px;
	margin-left: 13px;
	
}
.error_kayit{
	display: block;
	width: 100%;
	background-color: #EDBBB8;
	color:white;
	padding:10px 30px;
	border-radius: 1px;
	/*display: hidden;*/
	font-size: 20px;
}
.success_kayit{
	display: block;
	width: 100%;
	background-color: #A0E4A0;
	color:white;
	padding:10px 30px;
	border-radius: 1px;
	/*margin-left: 10px;*/
}
.success_yorum{
	display: block;
	width: 100%;
	background-color: #A0E4A0;
	color:white;
	padding:10px 30px;
	border-radius: 1px;
	/*margin-left: 10px;*/
	margin-left:13px;
}
.success{
	display: block;
	width: 850px;
	background-color: #A0E4A0;
	color:white;
	padding:10px 30px;
	border-radius: 1px;
	/*margin-left: 10px;*/
}
.yukaricikBtn img{
	position: fixed;
	right:10px;
	bottom:10px;
	width: 40px;
	border-radius: 50px;


}
.blogFormBaslik{
	display: block;
	margin-bottom: 20px;
}


.benioku {

	float: left: !important;
	grid-column-gap: 3rem;
	color: #D6D6D6;
	/*border:2px solid red;*/
}
.benioku a:nth-child(odd) {
	/*display: block;*/
	color:#929292;
	float: left;
	/*border:2px solid red;*/
	
}
.benioku a:nth-child(even) {
	/*display: block;*/
	color:#B1B1B1;
	/*border:2px solid red;*/
}
.benioku a:nth-child(3) {
	color:#9B9999;
	float: right !important;
}
.benioku a{

	color:#CECECE;
	text-decoration: none;
	list-style: none;

}
.benioku a:hover{
	color:gray;
text-decoration: none;

}


.benioku img{
	width: 20px;
	opacity: .2;
		transition: .3s;
	color:gray;
text-decoration: none;

}

.benioku img:hover{
	width: 20px;
	opacity: .5;
	transition: .3s;
	color:gray;
	text-decoration: none;

}


.bos{
	height: 25px;
	background-color: #F1F1F1;
}
.guestLogin{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:30%;
	right: 120px;
	/*background-color: #C4C4C4;*/
	width: 270px;
	height: 250px;
	background-color: #1F1B1B;
	border-radius: 3px;
	overflow: hidden;
	padding-left:8px;
	padding-top:15px;
	display: none;
}
.guestLogin input{
	display: block;
	float: left;
	width: 240px;
	height: 30px;
	border-radius: 5px;
	margin:10px;
	outline: none;
	padding:20px;
	background-color: #FFEAEA;
	color:gray;
	font-weight: 600;
	border:1px solid #C52536;
}
.guestLogin button{
	width: 240px;
	height: 40px;
	border-radius: 3px;
	margin:10px;
	color:white;
	font-weight: 600;
	outline-color: #93E8E7;
	transition: .3s;
}
#contentH3{
	border:1px solid #E3E3E3;
	border-radius: 5PX;
	/*text-align: center;*/
	margin:auto;
	display: block;
	width: 1150px;
	height: 45px;
	margin-top: 40px;
	padding-right: 10px;
	/*background-color: #FDD0D0;*/
	
}


.kapat span{
	display: inline;
	position: absolute;
	background-color: #BE309F;
	padding:5px;
	border-radius: 50px;
	color:white;
	font-size: 24px;
	top:50px;
	left:50px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	color: black;
	font-weight: 700;
	font-family:Tahoma, Geneva, Verdana, sans-serif;
	opacity: .5;
	transition: 3s;
	cursor: pointer;

}
.kapat span:hover{
	display: inline;
	position: absolute;
	background-color: #F199DE;
	padding:5px;
	border-radius: 50px;
	color:white;
	font-size: 24px;
	top:50px;
	left:50px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	color: black;
	font-weight: 700;
	font-family:Tahoma, Geneva, Verdana, sans-serif;
	opacity: .9;
	transition: .3s;
	cursor: pointer;

}
.giris{
	/*background-color: gray;*/

}

.giris img{
	width: 20px;
	margin-top: -2px;
	opacity: .5;
	float: right;
}
.giris span{
	/*width: 350px;*/
	margin-left: 10px;
	padding-top: 10px;
	height: 100%;
	font-size: 13px;
	float: right;
	/*background-color: yellow;*/
}


.giris h3{
	padding-left: 20px;
	padding-top: 3px;
}





/*---------------------------LOGIN LOGIN*/
/*.footerMenu ul li:nth-child(1){
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}
.footerMenu ul li:nth-child(4){
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}
*/
.footerMenu{
	display: none;
	color: white;
	position: absolute;
	margin-top: -50px;
	left: calc(50% - 260px);
	text-decoration: none;
	list-style-type: none;
	color: white;	
	width: 500px;
	/*background-color: #4D4D4D;*/
}
.footerMenu ul li{
	display: inline;
	text-align: center;
	color: white;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding:8px 10px;
	color: white;
	border-radius: 2px;
	background-color: #F965BD;
		transition: .3s;
		margin:0;
}
.footerMenu ul li:hover{
	display: inline;
	color: white;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding:8px 15px;
	text-decoration: none;
	list-style-type: none;
	border-radius: 2px;
	background-color: #E81E95;
	transition: .3s;
}
.footerMenu ul li a{
	color: white;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding:8px 10px;
	text-decoration: none;
	list-style-type: none;
	border-radius: 2px;
	/*background-color: #E92E9C;*/
}

.mesajlar{
	position: fixed;
	right:0px;
	bottom:10px;
	width: 300px;
	height: 40px;
	background-color: #70C567;
	display: none;
	border-radius: 4px;

}
.msj{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 20px;
	color:white;
	padding-top: 4px;
}
.mesajlarError{
	position: fixed;
	right:0px;
	bottom:10px;
	width: 300px;
	height: 40px;
	background-color: #FD5363;
	display: none;
	border-radius: 4px;

}

.msjError{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 20px;
	color:white;
	padding-top: 4px;
}
